<template>
  <div
    class="w-full h-full border flex flex-row items-center pl-2 text-center"
    @click="openGoalPage(goal.id)"
  >
    <span class="flex-auto flex-col text-left font-bold text-sm text-ellipsis">
      {{ goal.title }}
    </span>
    <ion-icon
      :color="goalStatus[goal.status].color"
      :icon="goalStatus[goal.status].icon"
      class="h-6 w-6 mr-2 flex flex-shrink-0"
    />
    <ion-icon
      color="primary"
      :icon="chevronForwardOutline"
      class="h-8 w-8 mr-2 flex flex-shrink-0"
    />
  </div>
</template>

<script>
import { defineComponent, reactive } from "vue";
import { IonIcon } from "@ionic/vue";
import {
  checkmarkCircleOutline,
  chevronForwardOutline,
  ellipsisHorizontalCircleOutline,
  hourglassOutline,
} from "ionicons/icons";
import { useI18n } from "vue-i18n";

export default defineComponent({
  name: "GoalItem",
  components: {
    IonIcon,
  },
  props: ["goal"],
  setup() {
    const goalStatus = reactive({
      DONE: {
        color: "success",
        icon: checkmarkCircleOutline,
      },
      ONGOING: {
        color: "primary",
        icon: ellipsisHorizontalCircleOutline,
      },
      TODO: {
        color: "danger",
        icon: hourglassOutline,
      },
    });
    const { t, locale } = useI18n();
    return {
      t,
      locale,
      checkmarkCircleOutline,
      chevronForwardOutline,
      ellipsisHorizontalCircleOutline,
      goalStatus,
      hourglassOutline,
    };
  },
  methods: {
    openGoalPage(goalId) {
      this.$router.push({ name: "Goal", params: { goalId: goalId } });
    },
  },
});
</script>

<style scoped>
.border {
  border: solid 2px var(--ion-color-primary);
  border-radius: 10px;
}
</style>