<template>
  <div class="w-full pb-3 text-center">
    <div class="pt-2 pb-3 bg-light-purple">
      <div class="flex flex-row">
        <div class="ml-2 flex flex-col pr-1">
          <ion-avatar
            @click="redirectToProfile"
            class="flex justify-center items-center"
          >
            <img
              class="h-12 w-12"
              :src="`${goal.user.profile_picture_url}`"
              alt="Profile picture"
              @error="setProfilePictureNotFound"
            />
          </ion-avatar>
        </div>
        <div class="ml-1 flex flex-col">
          <div class="h-full flex flex-col justify-center items-center">
            <div @click="redirectToProfile" class="flex text-left">
              {{ goal.user.fullname }}
            </div>
            <div class="w-full flex text-sm text-gray-600 text-left">
              {{ $timeAgo.format(new Date(post.date)) }}
            </div>
          </div>
        </div>
        <div
          class="mt-2 flex-1 flex-col"
          v-if="goal.user.uid === $store.state.user.uid"
        >
          <div class="mr-5 flex justify-end">
            <ion-icon
              @click="openPopover($event)"
              class="h-5 w-5 text-gray-700"
              :icon="ellipsisVertical"
            />
          </div>
        </div>
      </div>
      <div class="p-2 flex bg-goal-title">
        <div class="flex justify-start ml-3">
          <div class="text-left font-bold">
            <p>
              {{ goal.title }}
            </p>
          </div>
        </div>
      </div>
      <div class="p-2 mt-3 ml-3 text-left">
        {{ post.description }}
      </div>
      <div class="flex-1" v-if="feedMode">
        <ion-button @click="openGoalPage" class="w-8/12">{{
          t("feed_page.see_goal", {}, { locale: $store.state.appLang })
        }}</ion-button>
      </div>
    </div>
    <div class="flex flex-row mt-3">
      <div class="flex-auto flex-col">
        <div class="flex items-center justify-center space-x-1">
          <img
            @click="reactToPost()"
            class="h-7 w-7 clickable-cursor"
            :src="isLiked ? clappingHandsFilled : clappingHandsOutline"
            alt="Reaction icon"
          />
          <span @click="openSupportersPage()">
            {{ numberOfLikes > 0 ? numberOfLikes : "&nbsp;&nbsp;" }}
          </span>
        </div>
      </div>
      <div class="flex-auto flex-col">
        <div class="flex items-center justify-center space-x-1">
          <ion-icon
            @click="openCommentPage"
            class="h-7 w-7 clickable-cursor"
            :icon="chatbubbleOutline"
          />
          <span>
            {{
              numberOfCommentsAndReplies > 0
                ? numberOfCommentsAndReplies
                : "&nbsp;&nbsp;"
            }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { IonIcon, IonButton, IonAvatar, popoverController } from "@ionic/vue";
import clappingHandsOutline from "../assets/icons/clapping_hands_outline.svg";
import clappingHandsFilled from "../assets/icons/clapping_hands_filled.svg";
import { setProfilePictureNotFound }  from "../services/profile-picture.js";
import {
  personCircleOutline,
  ellipsisVertical,
  handLeftOutline,
  chatbubbleOutline,
  arrowRedoOutline,
} from "ionicons/icons";
import { defineComponent, ref } from "vue";
import { useI18n } from "vue-i18n";
import postsService from "../services/posts";
import PostOptions from "./PostOptions";
import firebaseAnalyticsService from "../services/firebase-analytics";

export default defineComponent({
  name: "Post",
  components: {
    IonIcon,
    IonButton,
    IonAvatar,
  },
  emits: ["delete:post"],
  props: ["post", "goal", "feedMode"],
  setup(props) {
    const { t, locale } = useI18n();
    const isLiked = ref(props.post.is_liked);
    const numberOfLikes = ref(props.post.number_of_likes);
    const likeTimeout = ref(null);
    const numberOfCommentsAndReplies = ref(
      props.post.number_of_comments_and_replies
    );
    return {
      personCircleOutline,
      ellipsisVertical,
      handLeftOutline,
      chatbubbleOutline,
      arrowRedoOutline,
      numberOfCommentsAndReplies,
      clappingHandsOutline,
      clappingHandsFilled,
      isLiked,
      t,
      locale,
      numberOfLikes,
      likeTimeout,
      setProfilePictureNotFound,
    };
  },
  methods: {
    reactToPost() {
      this.isLiked = !this.isLiked;
      this.numberOfLikes += this.isLiked ? 1 : -1;
      clearTimeout(this.likeTimeout);
      this.likeTimeout = setTimeout(() => {
        this.updateLikers();
      }, 3000);
    },
    async openPopover(event) {
      const popover = await popoverController.create({
        component: PostOptions,
        componentProps: {
          onsubmit: () => {
            popover.dismiss();
            this.$emit("delete:post");
          },
          postId: this.post.id,
        },
        backdropDismiss: true,
        event: event,
        translucent: true,
      });
      return popover.present();
    },
    updateLikers() {
      this.isLiked
        ? postsService.like(this.post.id)
        : postsService.unlike(this.post.id);
    },
    redirectToProfile() {
      if (this.goal.user.uid !== this.$store.state.user.uid) {
        this.$router.push({
          name: "Profile",
          params: { userId: this.goal.user.id },
        });
      }
    },
    openGoalPage() {
      firebaseAnalyticsService.logEvent("see_goal_button");
      this.$router.push({ name: "Goal", params: { goalId: this.goal.id } });
    },
    openCommentPage() {
      this.$router.push({ name: "Comments", params: { id: this.post.id } });
    },
    openSupportersPage() {
      this.$router.push({
        name: "Supporters",
        params: { postId: this.post.id },
      });
    },
  },
});
</script>

<style scoped>
.bg-goal-title {
  background: var(--ion-color-bg-goal-title);
}
</style>
