<template>
  <ion-page>
    <ion-menu side="end" menu-id="main" content-id="content">
      <ion-content id="content">
        <ion-list lines="none">
          <ion-item class="clickable" @click="openSettingsPage()">
            <ion-icon color="primary" :icon="settings" />
            <div class="ml-2">
              {{ t("menu.settings", {}, { locale: $store.state.appLang }) }}
            </div>
          </ion-item>
          <ion-item class="clickable" @click="openFeedbackAndSupportPage()">
            <ion-icon color="primary" :icon="mail" />
            <div class="ml-2">
              {{
                t("menu.feedback_support", {}, { locale: $store.state.appLang })
              }}
            </div>
          </ion-item>
          <ion-item class="clickable" @click="openAboutUsPage">
            <ion-icon color="primary" :icon="informationCircle" />
            <div class="ml-2">
              {{ t("menu.about_us", {}, { locale: $store.state.appLang }) }}
            </div>
          </ion-item>
          <ion-item class="clickable" @click="firebaseAuthService.signOut()">
            <ion-icon color="primary" :icon="logOut" />
            <div class="ml-2">
              {{ t("menu.log_out", {}, { locale: $store.state.appLang }) }}
            </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-tabs @ionTabsDidChange="isSelectedTabOwnProfile">
      <ion-tab-bar slot="bottom" id="tab-bar" class="border-top">
        <ion-tab-button @click="scrollToTop()" href="/tabs/home" tab="home">
          <ion-icon :icon="home" />
        </ion-tab-button>

        <ion-tab-button href="/tabs/goals" tab="goals">
          <ion-icon :icon="rocket" />
        </ion-tab-button>

        <ion-tab-button href="/tabs/me" tab="ownprofile">
          <ion-avatar class="w-8 h-8">
            <img
              id="own-profile-avatar"
              v-if="$store.state.user"
              :src="$store.state.user.photoURL"
              alt="Profile picture"
              @error="setProfilePictureNotFound"
            />
            <!-- TODO fix ProfilePictureNotFound not displayed properly -->
            <ion-icon v-else :icon="personCircle" />
          </ion-avatar>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>

<script>
import {
  IonTabs,
  IonTabBar,
  IonTabButton,
  IonIcon,
  IonAvatar,
  IonList,
  IonItem,
  IonMenu,
  IonContent,
  IonPage,
} from "@ionic/vue";
import {
  home,
  rocket,
  notifications,
  personCircle,
  settings,
  mail,
  informationCircle,
  logOut,
  moon,
  analytics,
} from "ionicons/icons";
import feedContentService from "../../services/feed-content";
import { setProfilePictureNotFound } from "../../services/profile-picture.js";
import { useI18n } from "vue-i18n";
import firebaseAuthService from "../../services/firebase-auth";

export default {
  name: "Tabs",
  components: {
    IonTabs,
    IonTabBar,
    IonTabButton,
    IonItem,
    IonIcon,
    IonList,
    IonAvatar,
    IonPage,
    IonMenu,
    IonContent,
  },
  setup() {
    const { t, locale } = useI18n();
    return {
      analytics,
      home,
      rocket,
      moon,
      t,
      settings,
      mail,
      informationCircle,
      logOut,
      locale,
      firebaseAuthService,
      notifications,
      personCircle,
      setProfilePictureNotFound,
    };
  },
  methods: {
    scrollToTop() {
      const feedContent = feedContentService.getFeedContent();
      if (feedContent && this.$router.currentRoute.value.name === "Home") {
        const scrollingDuration = 500; //ms
        feedContent.scrollToTop(scrollingDuration);
      }
    },
    isSelectedTabOwnProfile() {
      const tabSelected = document.querySelector("#tab-bar").selectedTab;
      const ownProfileAvatar = document.querySelector("#own-profile-avatar");
      if (tabSelected === "ownprofile") {
        ownProfileAvatar.setAttribute("class", "border-avatar");
      } else {
        ownProfileAvatar.removeAttribute("class");
      }
    },
    openFeedbackAndSupportPage() {
      this.$router.push({ name: "FeedbackAndSupport" });
    },
    openAboutUsPage() {
      this.$router.push({ name: "AboutUs" });
    },
    openSettingsPage() {
      this.$router.push({ name: "Settings" });
    },
  },
  mounted() {
    this.isSelectedTabOwnProfile();
  },
};
</script>

<style scoped>
.border-avatar {
  border-radius: 50% !important;
  overflow: hidden !important;

  border: 2px solid var(--ion-color-primary) !important;
}
</style>