<template>
  <ion-page>
    <page-top-bar
      :needBackButton="true"
      :title="`${t('comment_page.title', {}, { locale: $store.state.appLang })}`"
    />
    <ion-content
      class="w-full h-full"
      style="z-index: -1"
      :scroll-events="commentsFetched && comments.length"
      :scrollY="commentsFetched && comments.length"
    >
      <ion-refresher slot="fixed" @ionRefresh="refreshData($event)">
        <ion-refresher-content />
      </ion-refresher>
      <div v-if="commentsFetched">
        <div v-if="comments.length">
          <ion-list class="pt-0 pb-0">
            <ion-item
              class="comment-item text-center"
              v-for="(comment, commentIndex) in comments"
              :key="comment"
            >
              <comment
                :ref="`comment${commentIndex}`"
                :commentIndex="commentIndex"
                :comment="comment"
                @comment="activateReplyMode"
                @delete:comment="deleteComment"
                type="comment"
              />
            </ion-item>
          </ion-list>
          <ion-infinite-scroll
            @ionInfinite="loadData($event)"
            id="infinite-scroll"
          >
            <ion-infinite-scroll-content />
          </ion-infinite-scroll>
        </div>
        <div v-else class="empty-content">
          {{ t("comment_page.be_the_first_comment", {}, { locale: $store.state.appLang }) }}
        </div>
      </div>
      <ion-footer class="footer">
        <div class="bg-gray-500 p-4" v-if="!sendComment">
          <div class="flex flex-row items-center">
            <span class="flex-auto flex-col">
              {{
                t(
                  "comment_page.replying_to",
                  {
                    name: comment.writer.fullname,
                  },
                  { locale: $store.state.appLang }
                )
              }}
            </span>
            <ion-icon
              class="flex flex-col clickable-cursor"
              @click="sendComment = true"
              :icon="close"
            />
          </div>
        </div>
        <div class="w-full border-top">
          <div class="flex flex-row items-center">
            <div class="ml-3 flex flex-col items-center justify-center">
              <ion-avatar class="flex justify-center items-center">
                <img
                  class="h-12 w-12"
                  :src="`${$store.state.user.photoURL}`"
                  alt="Profile picture"
                  @error="setProfilePictureNotFound"
                />
              </ion-avatar>
            </div>
            <div
              class="flex-auto flex-col h-full w-full mr-1 ml-1 items-center justify-center"
            >
              <ion-textarea
                v-model="commentContent"
                id="textarea"
                rows="2"
                cols="500"
                class="flex no-padding items-center mt-2 mb-2"
                :placeholder="`${t(
                  sendComment
                    ? 'comment_page.write_a_comment'
                    : 'comment_page.write_a_reply',
                  {},
                  { locale: $store.state.appLang }
                )}`"
              />
            </div>
            <ion-icon
              v-if="commentContent.trim().length"
              class="flex flex-col h-8 w-8 clickable-cursor p-2"
              color="primary"
              @click="publish"
              :icon="send"
            />
          </div>
        </div>
      </ion-footer>
    </ion-content>
  </ion-page>
</template>



<script>
import {
  IonPage,
  IonAvatar,
  IonFooter,
  IonTextarea,
  IonContent,
  IonIcon,
  IonRefresher,
  IonRefresherContent,
  IonList,
  IonItem,
  IonInfiniteScroll,
  IonInfiniteScrollContent,
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
import { close, send } from "ionicons/icons";
import { useI18n } from "vue-i18n";
import Comment from "../components/Comment.vue";
import PageTopBar from "../components/PageTopBar.vue";
import commentsService from "../services/comments";
import repliesService from "../services/replies";
import toastService from "../services/toast";
import { setProfilePictureNotFound } from "../services/profile-picture.js";

export default defineComponent({
  name: "Comments",
  components: {
    PageTopBar,
    Comment,
    IonPage,
    IonIcon,
    IonFooter,
    IonAvatar,
    IonContent,
    IonTextarea,
    IonRefresher,
    IonRefresherContent,
    IonList,
    IonItem,
    IonInfiniteScroll,
    IonInfiniteScrollContent,
  },
  setup() {
    const sendComment = ref(true);
    const { t, locale } = useI18n();
    return {
      t,
      locale,
      sendComment,
      close,
      send,
      setProfilePictureNotFound,
    };
  },
  data() {
    return {
      commentContent: "",
      comment: {},
      comments: [],
      commentsFetched: false,
      replyIndex: null,
      postId: null,
    };
  },
  methods: {
    activateReplyMode(reply) {
      this.sendComment = false;
      this.comment = reply.content;
      this.replyIndex = reply.index;
      document.querySelector("ion-textarea").setFocus();
    },
    async refreshData(event) {
      await this.setComments();
      event.target.complete();
    },
    async loadData(event) {
      const currentNumberOfComments = this.comments.length;
      try {
        const response = await commentsService.getAll(
          this.postId,
          currentNumberOfComments
        );
        if (response.status === 200) {
          const loadedComments = response.data;
          if (loadedComments.length) {
            this.comments.push(...loadedComments);
          }
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
      event.target.complete();
    },
    async publish() {
      try {
        if (this.sendComment) {
          const response = await commentsService.create(
            this.commentContent,
            this.postId
          );
          if (response.status === 200) {
            const comment = response.data;
            this.comments.push(comment);
            this.sendComment = true;
            this.commentContent = "";
          } else {
            await this.openErrorToast();
          }
        } else {
          const response = await repliesService.create(
            this.commentContent,
            this.comment.id
          );
          if (response.status === 200) {
            const reply = response.data;
            this.comment.replies.push(reply);
            this.sendComment = true;
            this.commentContent = "";
            //Open replies section
            this.$refs["comment" + this.replyIndex].showReplies = true;
          } else {
            await this.openErrorToast();
          }
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    async setComments() {
      try {
        const response = await commentsService.getAll(this.postId);
        if (response.status === 200) {
          this.comments = response.data;
          this.commentsFetched = true;
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    deleteComment(type, commentIndex, replyIndex) {
      if (type === "comment") {
        this.comments.splice(commentIndex, 1);
      } else {
        const comment = this.comments[commentIndex];
        comment.replies.splice(replyIndex, 1);
      }
    },
    async openErrorToast() {
      await toastService.openErrorToast(
        this.t("toaster_error", {}, { locale: this.$store.state.appLang })
      );
    },
  },
  async mounted() {
    this.postId = this.$route.params.id;
    await this.setComments();
    document.querySelector("ion-textarea").setFocus();
  },
});
</script>

<style scoped>
.comment-item {
  --padding-start: 0px;
  --inner-padding-end: 0px;
}

.footer {
  position: fixed;
  bottom: 0px;
  z-index: 10;
  background: var(--ion-color-bg-footer);
}
</style>