<template>
  <ion-page>
    <page-top-bar
      :title="`${t('own_following_page.title', {}, { locale: $store.state.appLang })}`"
      :needBackButton="true"
    />
    <ion-content v-if="followingFetched" class="ion-padding">
      <div v-if="following.length">
        <ion-list class="pt-0 pb-0">
          <ion-item
            class="no-padding-item text-center clickable-cursor"
            v-for="(user, index) in following"
            :key="user"
          >
            <user
              @click="redirectUser(user.id)"
              :username="user.fullname"
              :profilePictureUrl="user.profile_picture_url"
            />
            <ion-button
              v-if="$route.query.needUnfollowButton"
              @click="unfollowUser(user.id, index)"
              color="danger"
            >
              {{
                t(
                  "own_following_page.unfollow_button",
                  {},
                  { locale: $store.state.appLang }
                )
              }}
            </ion-button>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll
          @ionInfinite="loadData($event)"
          id="infinite-scroll"
        >
          <ion-infinite-scroll-content />
        </ion-infinite-scroll>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonPage,
  IonContent,
  IonItem,
  IonList,
  IonInfiniteScroll,
  IonInfiniteScrollContent,
  IonButton,
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
import User from "../components/User";
import PageTopBar from "../components/PageTopBar";
import { useI18n } from "vue-i18n";
import usersService from "../services/users";
import toastService from "../services/toast";

export default defineComponent({
  name: "Following",
  components: {
    IonPage,
    IonContent,
    IonItem,
    IonList,
    IonInfiniteScroll,
    IonInfiniteScrollContent,
    IonButton,
    User,
    PageTopBar,
  },
  setup() {
    const { t, locale } = useI18n();
    const followingFetched = ref(false);
    const following = ref([]);
    return {
      t,
      locale,
      followingFetched,
      following,
    };
  },
  methods: {
    async loadData(event) {
      const currentNumberOfFollowing = this.following.length;
      try {
        const response = await usersService.getFollowing(
          this.$route.params.userId,
          currentNumberOfFollowing
        );
        if (response.status === 200) {
          const loadedFollowing = response.data;
          if (loadedFollowing.length) {
            this.following.push(...loadedFollowing);
          }
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
      event.target.complete();
    },
    async setFollowing() {
      try {
        const response = await usersService.getFollowing(
          this.$route.params.userId
        );
        if (response.status === 200) {
          this.following = response.data;
          this.followingFetched = true;
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
    redirectUser(userId) {
      this.$router.push({ name: "Profile", params: { userId: userId } });
    },
    async openErrorToast() {
      await toastService.openErrorToast(
        this.t("toaster_error", {}, { locale: this.$store.state.appLang })
      );
    },
    async unfollowUser(userId, index) {
      try {
        const response = await usersService.unfollow(userId);
        if (response.status === 200) {
          this.following.splice(index, 1);
        } else {
          await this.openErrorToast();
        }
      } catch (error) {
        await this.openErrorToast();
      }
    },
  },
  async mounted() {
    await this.setFollowing();
  },
});
</script>